@page
@model AboutModel
@{
    ViewData["Title"] = "About";
    var Back  = ViewData["Back"];
}

<div class="text-center">
    <h1 class="display-4">About:</h1>
    <h2>@Back</h2>
    <br>
    <p>Here Are Some of The Places I Will Be Going To This Year:</p>
    <p>I always told myself after i graduate college i would take a year to travel the world.</p>
    <p>after a ton of overtime and lucky crypto trades plus scamming credit card Intro Offers I am able to afford traveling.</p>
</div>
