@page
@model HowModel
@{
    ViewData["Title"] = "How";
}

<div class="text-center">
    <h1 class="display-4">How To Do This Yourself:</h1>
    <p>Everyones situation is different but heres some cool tips after many many hours of research.</p>
    <p>Step 1: Get a passport / International Drivers Permit</p>
    <p>Step 2: Take full advantage of credit card welcome offers and use loopholes to get there.</p>
    <p>Example AMEX Platinum 150k bonus which equals about 1500 in travel after $8000 spent in 6 months</p>
    <p>easy way to get to that 8k is to make multiple trusted people authorized users</p>
    <p>BONUS: authorized users spending also earns you bonus points and go into your point pool.</p>
    <p>cards annual fee is 700 dollars but its worth keeping the year that you travel for the lounges and other things.</p>
    <p>after 6 months of having the card with you spending money and authorized users you should be able to accumulate about 200k points</p>
    <p>200k points is between 2k and 4k in travel depending on offers with airlines</p>
    <p>Pay off the card then call Amex to downgrade to a no annual fee card to keep whatever points you have left</p>
    <br>
    <p>Skiplagging is frowned upon with arilines but can save you a lot of money</p>
    <p>Skiplagging is when you buy a one way ticket and then get off at the connecting flight (which is the destination you want to go to)</p>
    <p>this has saved me a ton of money during some occasions but only do it once a year to fly under the radar with airlines.</p>
    <br>
    @* <p></p> *@
</div>
