@page
@model IndexModel
@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1 class="display-4">Welcome All</h1>
    <p>here is the site I made using dotnet and C#.</p>
</div>
