@page
@model PhotosModel
@{
    @* ViewData["Title"] = "Photos";
    var Brand  = ViewData["Brand"]; *@
}

<div class="text-center">
    <h1 class="display-4">Photos</h1>
    <p>Photos</p>
    <br>
    <img src="Balize.jpg" alt="Balize Blue Hole">
    @* <p>@Brand</p> *@
</div>
